<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" href="../../static/css/styles.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a class="button btn rightButton " th:href="@{/gamelist}">cancel</a>
<a class="button btn rightButton " th:href="@{/create/newgamepgn}">Pgn</a>
<main class="container-fluid">
    <div class="row row-background">
        <form action="#" th:action="@{|/create/newgame|}" th:object="${game}" method="post">
            <label class="form-label" for="player1">Player 1: </label>
            <select class="form-select" id="player1" name="player1">
                <option th:each="player:${players}" th:value="${player.id}" th:text="${player.name}"></option>
            </select>
            <label class="form-label" for="player2">Player 2: </label>
            <select class="form-select" id="player2" name="player2">
                <option th:each="player:${players}" th:value="${player.id}" th:text="${player.name}"></option>
            </select>
            <label for="moves" class="form-label">Moves: </label>
            <textarea class="form-control" id="moves" th:field="*{moves}"></textarea>

            <input type="submit" value="create" class="button btn-sm" th:href="@{/gamelist}">
        </form>
    </div>

</main>
</body>
</html>