<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <nav>
        <a class="button btn" th:href="@{/}">Home</a>
        <a class="button btn" th:href="@{/openingslist}">Openings</a>
        <a class="button btn" th:href="@{/variantlist}">Variants</a>
        <a class="button btn" th:href="@{/gamedetails/1}">GameDetails</a>
    </nav>
</header>
</body>
</html>