html{
    background: url("../images/Concrete-Wallpaper-002.jpg");
    font-family:Helvetica, "source sans pro", Arial, "Helvetics Neue", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 25px;
}
body{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: inherit;
}
header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
}
main{
    background: lightgrey;
    padding-top:1px;
    border-radius: 25px;
}
footer{
    position:absolute;
}
nav{
    overflow: auto;
}
img{
    width:95%;
}
.container{
    height:700px;
    display: flex;
    flex-flow:row;
    align-items: center;
}
 .content{
     width: 48%;
     display: flex;
     flex-flow:column wrap;
     flex: 0 1 auto;
     padding: 5px;
 }
 .text{

     text-align: left;
 }
.button {
    color: #F5F0F6;
    background: #8F754F ;
}
.button:hover{
    color: #D9D4DA;
    background: #D7B377;
}

.leftButton,.rightButton{
    width: 100px;
    border-radius: 25px;
}
.leftButton{
    float:left;
}
.rightButton{
    float: right;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.listButton{
    width: 200px;
    margin: 10px;
}
.list{
    display:flex;
    flex-flow: column wrap;
    margin-left: 0;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.checkmark {
    display: block;
}
.subList{

}
.boardButtons{
    flex-flow:row wrap;
    justify-content: end;
    text-align: left;
}
.form-check-input:checked{
    background: black;
    border-color: black;
}