<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
<head>
    <meta charset="UTF-8">
    <title>Oei!</title>
</head>
<body>
<div th:replace="fragments/header :: header(error)">header</div>
<main>
    <h2>Work in Progress</h2>
    <p>Beep boop</p>
</main>
<div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>