<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<main>
    <div th:if="${opening}">
        <h2 th:text="${opening.getOpeningName()}">name</h2>
        <table>
            <tr>
                <td>Move 1: </td>
                <td th:text="${opening.getMove1()}">move1</td>
            </tr>
            <tr>
                <td>Move 2: </td>
                <td th:text="${opening.getMove2()}">move1</td>
            </tr>
            <tr></tr>
        </table>
    </div>
    <div th:unless="${opening}">
        <p>No opening found</p>
    </div>
</main>
<div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>